@import "tailwindcss";
@plugin "daisyui";

/* CSS variables */
:root {
  --color-primary: #165588;
  --color-secondary: #dc2329;
  --color-white: #fff;
  --color-black: #000;
  --color-red: red;
}

/* Base/global styles */
html {
  scroll-behavior: smooth;
  background-color: var(--color-white);
}

body {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--color-primary);
  transition: background-color 0.3s ease;
  overflow-x: hidden;
  font-size: 18px;
}
a:hover {
  color: var(--color-secondary);
}

.menu-border {
  border-right: 1px solid #eee;
}
.bg-site {
  background-color: var(--color-primary);
}
.color-site {
  color: var(--color-primary);
}

@media only screen and (max-width: 600px) {
  .mobile-none {
    display: none;
  }
}